<% include layout/header.ejs %>

<div class="main">
	<div class="container">
		<div class="content">
			<div class="post">
				<div class="top">
					<h2>Заголовок поста</h2>
				</div>
					<div class="body">
						<p>
							В JavaScript отсутствует классическая модель наследования —
							вместо неё используется прототипная модель. Хотя её часто
							расценивают как один из недостатков JavaScript, на самом деле
							прототипная модель наследования намного мощнее классической. К
							примеру, поверх неё можно предельно легко реализовать
							классическое наследование, а попытки совершить обратное вынудят
							вас попотеть. Из-за того, что JavaScript — практически
							единственный широко используемый язык с прототипным
							наследованием, придётся потратить некоторое время на осознание
							различий между этими двумя моделями. Первое важное отличие
							заключается в том, что наследование в JavaScript выполняется с
							использованием так называемых цепочек прототипов.
						</p>
					</div>
					<div class="bottom">
						<div class="author">
							<a href="/">Автор: Ivo Wetzel</a>
						</div>
						<a href="/">Комментарии</a>
					</div>
			</div>
			<div class="post">
				<div class="top">
					<h2>Заголовок поста</h2>
				</div>
					<div class="body">
						<p>
							В JavaScript отсутствует классическая модель наследования —
							вместо неё используется прототипная модель. Хотя её часто
							расценивают как один из недостатков JavaScript, на самом деле
							прототипная модель наследования намного мощнее классической. К
							примеру, поверх неё можно предельно легко реализовать
							классическое наследование, а попытки совершить обратное вынудят
							вас попотеть. Из-за того, что JavaScript — практически
							единственный широко используемый язык с прототипным
							наследованием, придётся потратить некоторое время на осознание
							различий между этими двумя моделями. Первое важное отличие
							заключается в том, что наследование в JavaScript выполняется с
							использованием так называемых цепочек прототипов.
						</p>
					</div>
					<div class="bottom">
						<div class="author">
							<a href="/">Автор: Ivo Wetzel</a>
						</div>
						<a href="/">Комментарии</a>
					</div>
			</div>
		</div>
		<% include layout/sidebar.ejs %>
	</div>
</div>

<% include layout/footer.ejs %>