<footer class="footer">
	<div class="container">
		2019 Ekaterina Blinova eblinova@outlook.com
	</div>
</footer>
<script src="/javascripts/jquery.min.js"></script>
<script src="<%= assetFingerprint('/javascripts/scripts.js') %>"></script>


</body>

</html>